node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
dist
**/dist
out
**/out
.content-collections
**/.content-collections
.git
.github
.env
.env.local
.env.*.local
*.tsbuildinfo
**/*.tsbuildinfo
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
.DS_Store
.claude
docs
